node_modules
dist
build
coverage
.DS_Store
.turbo
.vite
.cache
*.log
.env
.env.*
!.env.example
storybook-static
playwright-report
test-results
.changeset/*.md
!.changeset/README.md
!.changeset/config.json
custom-elements.json
